*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    padding-top: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.input{
    height: 50px;
    width: 300px;
    border: 1px solid #000;
    padding: 0 10px;
    font-size: 18px;
}
button{
    height: 50px;
    width: 100px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}